.crystalImage {
    width: 250px;
    height: 250px;
  }

  #images {
    
    text-align: center;
    padding: 30px;
  }

  #header {
       
    text-align: center;
    padding: 20px;
  }

  #instructions{
     border: solid 5px;
     padding: 10px;
  }

  #pointsToMatch {

    text-align: center;
    padding: 25px;
      
  }

  #scores {
      padding: 50px;
  }